@model ManageYourFinance.App.Models.Payee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <div class="jumbotron">
        <h4>Payee</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Active)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Active)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Category)
            </dd>

        </dl>
    </div>

    <h4>Transactions</h4>
    @{
        Html.RenderPartial("_Transactions", Model.Transactions);
    }
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-info" })
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })
</p>
@section Scripts{
    @Scripts.Render("~/bundles/form-submit")
}