@model IEnumerable<ManageYourFinance.App.Models.IncomeExpenseTable>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.LeftTotal)</th>
            <th>@Html.DisplayNameFor(model => model.LeftAverage)</th>
            <th>@Html.DisplayNameFor(model => model.LeftPrecent)</th>
            <th></th>
            <th>@Html.DisplayNameFor(model => model.RightTotal)</th>
            <th>@Html.DisplayNameFor(model => model.RightAverage)</th>
            <th>@Html.DisplayNameFor(model => model.RightPrecent)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            


        <tr>
            <td>@Html.DisplayFor(model => item.Name)</td>
            <td>@Html.DisplayFor(model => item.LeftTotal)</td>
            <td>@Html.DisplayFor(model => item.LeftAverage)</td>
            <td>@Html.DisplayFor(model => item.LeftPrecent) </td>
            <td></td>
            <td>@Html.DisplayFor(model => item.RightTotal)</td>
            <td>@Html.DisplayFor(model => item.RightAverage)</td>
            <td>@Html.DisplayFor(model => item.RightPrecent) </td>
        </tr>

            
        }
    <tr class="bg-spaceCadet text-light">
        <td>Income Total</td>
        <td>@Model.Select(e => e.LeftTotal).Sum().ToString("F")</td>
        <td>@Model.Select(e => e.LeftAverage).Sum().ToString("F") </td>
        <td></td>
        <td>@Model.Select(e => e.RightTotal).Sum().ToString("F")</td>
        <td>@Model.Select(e => e.RightAverage).Sum().ToString("F") </td>
        <td></td>
    </tr>
    </tbody>
</table>
