@model ManageYourFinance.App.Models.Schedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <div class="jumbotron">
        <h4>Schedule</h4>
        <hr />
        
        <div class="row">
            <div class="col">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Accounts)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Accounts)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Category)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Payee)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Payee)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Amount)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Amount)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Frequency)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Frequency)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.NextDueDay)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.NextDueDay)
                    </dd>
                </dl>
            </div>

            <div class="col">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.TotalAmount)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.TotalAmount)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.TotalCount)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.TotalCount)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.EndsOnDate)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.EndsOnDate)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.AmountCount)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.AmountCount)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.CountCount)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.CountCount)
                    </dd>
                </dl>
            </div>
        </div>

       
    </div>
  
    <h4>Transactions</h4>
    @{ 
        Html.RenderPartial("_Transactions", Model.Transactions);
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-info" }) 
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })
</p>
