@model IEnumerable<ManageYourFinance.App.Models.Schedule>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center text-white text-stroke">Schedule</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, htmlAttributes: new { @class = "btn btn-Tangerine" })
</p>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Accounts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frequency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextDueDay)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            var color = item.Amount< 0 ? "text-danger" : "text-success";
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Accounts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payee)
        </td>
        <td class=@color>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextDueDay)
        </td>
        <td>
            <div class="btn-group btn-group-sm">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-orangeYellow " })
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-Tangerine" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-orangeYellow" })
            </div>
        </td>
    </tr>
}
    </tbody>

</table>
