@model ManageYourFinance.App.Models.Transactions

@{
    ViewBag.Title = "Delete";
}

<h2 class="text-center text-white text-stroke">Delete Transaction</h2>

<div class="container bg-aliceBlue p-2 mb-4">
    <h3 class="text-danger">Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <div class="row">
            <div class="col">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Date)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Amount)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Amount)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Accounts)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Accounts)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Category)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Payee)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Payee)
                    </dd>
                </dl>
            </div>
            <div class="col">
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Tag)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Tag)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Reference)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Reference)
                    </dd>

                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Memo)
                    </dt>

                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Memo)
                    </dd>
                </dl>
            </div>

        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-Tangerine" />
            </div>
        }
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-Tangerine" })
</p>
