@model ManageYourFinance.App.Models.Accounts

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Details</h2>

<div>
    <div class="jumbotron">
        <h4>Accounts</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Active)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Active)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.IncludeTotal)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.IncludeTotal)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.OpeningBalance)
            </dt>

            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.OpeningBalance)
            </dd>

        </dl>
    </div>
    @{ 
        var transaction = Model.Transactions.First();
    } 
<table class="table table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => transaction.Payee)</th>
            <th>@Html.DisplayNameFor(model => transaction.Category)</th>
            <th>@Html.DisplayNameFor(model => transaction.Date)</th>
            <th>@Html.DisplayNameFor(model => transaction.Amount)</th>
            <th>@Html.DisplayNameFor(model => transaction.Memo)</th>
            <th>@Html.DisplayNameFor(model => transaction.Tag)</th>
            <th>@Html.DisplayNameFor(model => transaction.Reference)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Transactions)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.Payee)</td>
                <td>@Html.DisplayFor(model => item.Category)</td>
                <td>@Html.DisplayFor(model => item.Date)</td>
                <td>@Html.DisplayFor(model => item.Amount)</td>
                <td>@Html.DisplayFor(model => item.Memo)</td>
                <td>@Html.DisplayFor(model => item.Tag)</td>
                <td>@Html.DisplayFor(model => item.Reference)</td>
            </tr>
        }
    </tbody>
</table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-info" }) 
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })
</p>
